streamlit
poppler-utils
pytesseract 
langchain
langchain-groq
google-generativeai
langchain-community
langchain_google_genai
chromadb
groq
unstructured 
unstructured-inference
ragas 
pandas 
camelot-py 
tabula-py
nltk
python-pptx 
python-docx 
pypdf
pdfplumber 
PyPDF2 
PyMuPDF
matplotlib
opencv-python-headless
layoutparser
pi_heif

